.cache
.config/abrt
.config/chromium
.config/Code
.config/dconf
.config/evolution
.config/gnome-session
.config/goa-1.0
.config/gtk-3.0
.config/ibus
.config/imsettings
.config/inkscape
.config/Kvantum
.config/lazygit
.config/nvim
.config/pulse
.config/Thunar
.config/xfce4
.config/mimeapps.list
.config/QtProject.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.local/share
.local/state
.config/.gsd-keyboard.settings-ported
.xmonad/build-x86_64-linux
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.icons
.mozilla
.oh-my-zsh
.pki
.vscode
.bash_history
.bash_profile
.bashrc
.gtkrc-2.0
.gitconfig
.lesshst
.python_history
.shell.pre-oh-my-zsh
.zcompdump-XPS9370-5.9
.zcompdump-XPS9370-5.9.zwc
.zsh_history
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Video

